logs
*.log
pids
node_modules
.npm
*.dat
temp
tmp
/tmp
/tmp/
/tmp/*
/.env
configs/.env
regressionDifferences.json
.vscode/*
/rabbitmq.yaml
vscode-profile-*
auth0_users_dump.json
.DS_Store
/gcp_service_account.json
.idea
*.gz
*.zip
exportProjLog.txt
/scripts/support_scripts/Kirill
